<polymer-element name="secret-santa-app">
	<link rel="import" href="../models/PersonsModel.html">
	<link rel="import" href="PersonInput.html">
	<link rel="import" href="PersonList.html">
  <template>
  	<p>Add secret santas... or just generate some.</p>
  	<persons-model name="personsModel"></persons-model>
    <person-input></person-input>
    <person-list persons="{{personsModel.persons}}"></person-list>
  </template>
  <script type="application/dart" src="PersonList.dart"></script>
</polymer-element>